:root {
  /* 主题色*/
  --primary: #16C2A3;
  /*浅色背景*/
  --plain: #EAF8F6;
  /* 黄色渐变背景*/
  --orange: #FCA21C;
  /* 文字颜色1*/
  --text1: #121826;
  /* 文字颜色2*/
  --text2: #3C3E42;
  /* 文字颜色3*/
  --text3: #6F6F6F;
  /*标签颜色*/
  --tag: #848484;
  /* 暗文字*/
  --dark: #979797;
  /*提示颜色*/
  --tip: #C3C3C5;
  /*禁用色*/
  --disable: #D9DBDE;
  /*边框色*/
  --line: #EDEDED;
  /*灰色背景*/
  --bg: #F6F7F9;
  /*纯白*/
  --white: #fff;
  /*危险色*/
  --danger: #eb5757;
  /*支付颜色*/
  --price: #ee0a24;
  --nopay: #f2994a;

}